.btn {
    font-size: 1.1em;
    padding: 12px 22px;

    &.btn-white {
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        transition: .4s;

        &:hover {
            color: rgb(27, 26, 26);
            background: #fff;
            border-color: #fff;
        }
    }
}