#block-left {
    width: 50%;
    padding: 10px;
    display: flex;
    position: relative;
    z-index: 100;
    .content {
        max-width: 550px;
        margin: auto;
        color: #fff;

        h1 {
            font-weight: 600;
            margin: 0;
            font-size: 2em;
        }

        p {
            font-weight: 400;
            margin: 5px 0 15px 0;
        }
    }
}

.sidebar {
    background: #f2f3f7;
    width: 50%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    padding: 10px 20px;
    color: #757A86;

    header {
        margin-bottom: 10px;
        h3 {
            color: #757A86;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
        p {
            margin: 5px 0;
        }
    }
    .posts {
        display: flex;
        flex-wrap: wrap;
        .post {            
            flex-basis: 45%;
            margin: 2%;
            background: #fff;
            img {
                position: relative;
                transition: background .5s;
                display: block;
                margin: 0 auto;
            }
            .pagetitle {
                display: block;
                text-decoration: none;
                font-size: 16px;
                text-transform: uppercase;
                color: #585858;
                transition: .3s;
                cursor: pointer;
                margin: 5px 15px;
                line-height: 1.2;
                text-align: center;
                &:hover {
                    color: #000;
                }
            }
            .introtext {
                font-size: 14px;
                color: #585858;
                margin: 0 15px 5px;
                text-align: center;
            }
        }
    }
}