@media (max-width: 768px) {
    .overlay {
        transform: skew(0, 0);
        left: 0;
    }

    .wrapper {
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    }

    #block-left {
        width: 100%;
    }
    #sidebar {
        width: 100%;
        position: absolute;
    }
}