@media (max-width: 1150px) and (min-width: 769px) {
    .sidebar {
        .posts .post {
            flex-basis: 100%;
        }
    }
}
@media (max-width: 768px) {
    .overlay {        
        left: 0;
        &.skew {
            transform: skew(0, 0)
        }
    }

    .wrapper {
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    }

    #block-left {
        width: 100%;
    }
    .sidebar, .sidebar--slidedown {
        width: 100%;
        position: absolute;
    }
    .close {
        right: 5px;
        top: 5px;
        font-size: 1.1em;
    }
}

@media (max-width: 600px) {
    .sidebar {
        .posts .post {
            flex-basis: 100%;
        }
    }
}