@media (max-width: 768px) {
    .overlay {        
        left: 0;
        &.skew {
            transform: skew(0, 0)
        }
    }

    .wrapper {
        width: 100%;
        overflow-x: hidden;
        text-align: center;
    }

    #block-left {
        width: 100%;
    }
    .sidebar, .sidebar--slidedown {
        width: 100%;
        position: absolute;
    }
}