@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
}

/*********vue transition***********/
.slide-enter-active,
.slide-leave-active {
    transition: .5s;
}

.slide-enter,
.slide-leave-to {
    transform: translate(100%)
}
/*********************************/


@import "bg";

@import "content";

@import "icons";

@import "buttons";

@import "mobile";